# GPU worker dependencies for training & exporting gsplat scenes
torch
torchvision
gsplat
imageio
numpy<2.0.0
tqdm
tyro
viser
pyyaml
scipy
plyfile
trimesh
requests
pillow
opencv-python-headless
piexif
pycolmap @ git+https://github.com/rmbrualla/pycolmap.git
